@charset "utf-8";
/* CSS Document */

:root{	
--Dryft-Blue-Color: #066CBD;
--Header-Grey-Color: #333F48;
--Light-Grey-Color: #697684;
--Green-Check-Color: #22AA60;
--Magra-regular :font-family:'Magra-Regular' ;
}

@font-face {font-family:'Magra-Regular' ; src: url("../webfonts/Magra-Regular.ttf") format("truetype"); font-weight: normal;}
@font-face {font-family:Magra-Bold ; src: url("../webfonts/Magra-Bold.ttf") format("truetype"); font-weight: 800;}
@font-face{font-family:"Font Awesome 5 Free"; src:url(../webfonts/fa-solid-900.eot);src:url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.far,.fas{font-family:"Font Awesome 5 Free"}

* {margin: 0 auto; padding: 0;}
body {font-family:'Magra-Regular' ; font-size: 1.2rem; color: #697684; margin: 0 auto; }
ul,li{margin: 0; padding: 0; list-style: none;} 
h1,h2,h3,h4,h5,h6 {font-family:'Magra-Bold'; text-transform: uppercase; color:#333F48;}
h2 {font-size: 3rem;}
h3 {font-family:'Magra-Regular' ; font-weight: 400; font-size: 2.5rem;}
a{text-decoration: none; border: none; color: #697684;}
a:hover {text-decoration: none; color: #066CBD;}
.btn-theme {background: #066CBD; color: #fff; transition: .5s all; font-size: 2rem; }
.btn-theme:hover {background: #1c86dc;color: #fff;}
.btn-large {padding: 10px 10%;}
.center-block {margin: 0 auto; display: block;}
.heading-title {text-align: center;}
.heading-title h2{font-weight:800; letter-spacing: 1px; font-size: 3rem; }
.heading-title p {font-size: 1.5rem;}
.hide {display: none;}
.marg-TP-60 {display: block; margin-top: 60px; width: 100%; float: left;}
.theme-color {color: var(--Dryft-Blue-Color);}
.desktop-hide {display: none;}





/*-- Header --*/
header {margin: 0 auto; width: 100%; padding: 5px 0 0;}
/*-- Header --*/
.top-head {border-bottom: 1px solid #333F48; padding: 0 0 5px;}
ul.weathday-list li{float:left; margin-right: 10px; padding: 8px 0;}
.mid-head {padding: 20px 0;}
.mid-head .logo {max-height: 100px;}

/*-- Login --*/
.login-area {position: relative; text-align: center; margin-top: 8px; }
.login-area ul {float: right;}
.login-area li{float: left; position: relative; margin-left: 20px; }
.login-box,.signup-box {display: none; position: absolute; background: #fff; top: 50px; padding: 20px; z-index: 9999999999; border: 1px solid #333F48; width: 400px; right: 0; border-top: none; }
.login-box input {border: none; border-bottom: 1px solid #111; border-radius: 0;}
.login-box input:focus{border-color: none; box-shadow: none; -webkit-box-shadow: none; outline: -webkit-focus-ring-color auto 0px;}
.signup-box form p{border: 1px solid #333; padding: 8px; text-decoration: none;}
.signup-box form p a {color: #333F48; }
.signup-box h4,.login-box h4 {color: #066CBD;}
.for-signup {margin:30px 0 20px 0; text-align: center;}
.signup-box .fa-facebook-f{color: #066CBD !important;margin-right: 10px;}
.signup-box .fa-google-plus-g{color:#be0606;margin-right: 10px;}
.signup-box .fa-mobile-alt{color:#0286f1;margin-right: 10px;}

/*-- Main Navigation --*/
.menu-area {padding:0px 0px; background:#333F48;}
.desktop-menu {padding: 0;margin: 0;list-style: none; text-align: left;}
.desktop-menu li a {padding: 15px 15px;text-transform: uppercase; color: #fff; text-decoration: none; letter-spacing: 2px;display: block;font-size: 16px; position: relative; z-index: 999999; }
.desktop-menu li a:after {position: absolute;content: '';height: 100%; width: 0%; z-index: -1; transition: 0.3s ease; background: #066cbe; }
.desktop-menu li a:after {top: 0;left: 0;}
.desktop-menu li:hover > a:after {width: 100%; }
.desktop-menu li.active > a:after, .desktop-menu li.active > a:after {width: 100%; background: #066cbe; z-index: -1; }
.desktop-menu li {display: inline-block;}
.sidenav {display: none;}

/*side menu*/
.sidenav li a {display: block;padding: 10px;color: #FFF;font-weight: 500;border-bottom: 1px solid #697684;text-transform: uppercase; letter-spacing: 2px; position: relative; transition: 0.3s ease; text-decoration: none;}
.sidenav li a:last-child {padding-right: 0;}
.sidenav li a:after {content: '';width: 0;height: 100%;background: #697684;position: absolute;left: 0;top: 0;z-index: -1;transition: 0.3s ease; }
.sidenav li:hover a {color: #fff;}
.sidenav li:hover a:after {width: 100%;}
.sidenavli {display: block;}
.sidenav li:last-child a {border: 0;  }
.sidenav {display: block;position: fixed;top: 0;padding: 0;margin: 0;width: 280px;height: 100%;transition: 0.3s ease; background: #333F48;z-index: 99; left: -280px;}
.sidenav-trigger.active span:nth-child(2) {display: none !important;}
.sidenav-trigger.active span:nth-child(3) {transform: rotate(-45deg);margin: 0 auto !important;}
.sidenav-trigger.active span:nth-child(1) {transform: rotate(45deg);margin: 0 auto !important;}
.menu-item-has-children{ position: relative;}
.sub-menu li a {padding-left: 10px;}
.sub-menu li {display: block;text-align: left;background: #333F48;  border-bottom: 1px solid #697684;}
.sub-menu {position: absolute; padding: 0;margin: 0; width: 260px; animation: fadeInUp 0.5s ease; display: none;}
.sub-menu li:last-child{ border:0;}
.menu-item-has-children:hover .sub-menu{ display: block; z-index: 999;}
.menu-item-has-children:after {content: url(../images/icons/arrow-bottom.png);font-family: 'FontAwesome';color: #ccc;position: absolute;top:12px;right:0; z-index: 99;}
.elite-yellow a{position: relative; padding: 10px 15px !important;}
.elite-yellow img {max-height: 35px; margin: 0; padding: 0;}

/*animation key frames*/

/*-- Slider --*/
.carousel-inner img { width: 100%;height: 100%;}
.main-slider {position: relative; width: 100%;}
.caption-box { margin: 0% 0 0 -20%;position: absolute;top: 40%;left: 50%;z-index: 9; width: 40%;}
.caption-box input[type="search"] {width: 100%; padding:12px 10px; font-size: 1.5rem; color: #111;  }
.caption-box button {display: block; margin: 0 auto; margin-top: 50px;}
/*-- Default Section --*/
.top-section {background: #d0e3ff; padding: 40px 0; width: 100%; height: auto; float: left; display: block;}
.testimonial-section {background: #d0e3ff; padding: 40px 0; width: 100%; height: auto; float: left; display: block;}
.default-section {background: #7cfffa; padding: 40px 0; width: 100%; height: auto; float: left; display: block;}

/*-- Second Section --*/
.second-section {background:#ebecee url(../images/parallax/dryft_elight_band_home.jpg) left top no-repeat; padding:80px 0 80px 0; width: 100%; height: auto; float: left; display: block; background-size: cover; }
.second-section .box {margin: 0 auto; padding: 0;width: 100%;}
.second-section .box ul {margin: 0; padding: 0; list-style: none; text-align: center;}
.second-section .box li {position: relative; float: left; width: 20%; text-align: center;color: var(--Header-Grey-Color);}
.second-section .box li:after {content: ''; background: url(../images/icons/tracking_check.png) left top no-repeat; height: 24px; width: 24px; background-size: 100%; position: absolute; right: 20%; top: 44%; border: 1px solid #fff; border-radius: 50%;}


/*-- plans --*/
.plans {box-shadow: inset 0px 10px 20px #05c9e3; padding: 60px 0; }
.plan-box {background: #fff; border-radius: 10px;  padding: 15px; margin-top: 20px; box-shadow:1px 1px 10px 5px #45dcef; position: relative;}
.plan-box h3 {padding: 1.5rem 0; font-size: 1.75rem; border-bottom: 2px solid #333F48; color: #066CBD; margin: -15px; text-align: center; font-weight: 800; line-height: 2.5;}
.plan-box h3 img {max-height: 70px;}
.btm-content {text-align: center; padding: 80px 0 40px;}
.price {font-size: 2.5rem; font-weight: 800; color: #333F48; line-height: .7;}
.btm-content .price+p {font-weight: 800; font-family: 'Magra-Bold';}
.btm-content a {margin-top: 40px;}
.elite_secnd {max-height: 60px;}

/*-- Download Section --*/
.download-sect {background: url(../images/parallax/banner_2.jpg) top center no-repeat; width:100%; height: auto; margin: 0 auto; padding: 60px 0 0; float: left; background-size: cover;}
.download-box {margin: 0 auto; color: #fff; text-align: center;}
.download-box h2 {font-size: 3rem; margin-top: 1em; color: #fff;}
.download-box p {margin: 40px auto;}
.download-sect a img{transition: all .5s; margin-right: 10px;margin-bottom: 20px;}
.download-sect a:hover img{background:#066CBD; border-radius: 50px;}


/*-- testimonials --*/
.testimonials {color: #111; padding-bottom: 80px; }
.testimonials  h2{margin-top: 0; padding-top: 0; line-height: 1; }
.testimonials  h3 {font-weight: 400; text-transform: none; font-family:Magra-Regular ; margin: 20px 0;}
.carousel-inner .carousel-item .img-box{width: 135px;height: 135px;}
.carousel-control-prev{left: -100px;}
.carousel-control-next{	right: -100px;}
.testimonials .carousel-indicators{bottom: -45px;}
.testimonials .carousel-indicators li {height: 20px; width: 20px; background: #697784; border-radius: 50%; }
.testimonials .carousel-indicators li.active {background: #066cbe;}

/*-- footer --*/
footer {width: 100%; float: left; margin: 0 auto; padding-top: 30px; background: #333F48; color: #fff; background-size: cover;}
footer h3 {color: #fff;}
footer ul {margin-bottom: 30px;}
footer .ft-right img{max-height: 110px; margin-bottom: 10px;}
footer .ft-right a {color:#fff;}
footer p {margin-bottom: .3rem;}
.copyright {background: #066CBD; padding: 15px 0; width: 100%; float: left; font-weight: 300;}
.ft-social {text-align: right;}
.ft-social ul {margin: 0; padding: 0;}
.ft-social li a{margin-left: 15px; display: inline; float: right; color: #fff;}
.ft-social li a:hover {color: #111;}

/*-- Driver Registration  --*/
/****** CODE ******/
.file-uploads{display:block;text-align:center;margin-bottom: 15px;}
.file-uploads .file-select{display:block;border: 1px solid #ccc; border-radius: 5px; color: #34495e; cursor:pointer; padding: .375rem .75rem; text-align:left; background:#FFFFFF; overflow:hidden; position:relative; font-size: 1rem;}
.file-uploads .file-select .file-select-button{border:1px solid #ccc; padding:0 10px;display:inline-block; float: right;}
.file-uploads .file-select .file-select-name{display:inline-block;}
.file-uploads .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploads .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploads.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploads.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploads .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-uploads .file-select.file-select-disabled{opacity:0.65;}
.file-uploads .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-uploads .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-uploads .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
/*-- inner-content --*/
.inner-content {padding:60px 0 40px;}
form h3 {font-weight: 400; font-family:Magra-Regular ; margin-top: 30px;}
/*-- Pop-Up --*/
.popup_box {width:100%;height:100%;display:none;position:fixed;top:0px;left:0px;background:rgba(0,0,0,0.75); z-index: 9999999; text-align: center;}
.popup_box_inner {max-width:500px;width:90%;padding:40px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);box-shadow:0px 2px 6px rgba(0,0,0,1);border-radius:3px;background:url(../images/blue_ground.jpg) left top no-repeat; color: #fff;}
.popup_box_inner h3 {color: #fff;}
.popup_box_inner h2 {font-size: 2rem; color: #fff; margin-bottom: 1rem;}
/* Close Button */
.popup-close {width:30px;height:30px;padding-top:4px;display:inline-block;position:absolute;top:0px;right:0px;transition:ease 0.25s all;-webkit-transform:translate(50%, -50%);transform:translate(50%, -50%);border-radius:1000px;background:rgba(0,0,0,0.8);font-family:Arial, Sans-Serif;font-size:20px;text-align:center;line-height:100%;color:#fff;}
.popup-close:hover {-webkit-transform:translate(50%, -50%) rotate(180deg);	transform:translate(50%, -50%) rotate(180deg);	background:rgba(0,0,0,1);text-decoration:none;}

/*-- User After Login --*/

.user-prof figure{height: 45px; width: 45px; border-radius: 50%; margin: 0 auto; overflow: hidden;position: relative;}
.user-prof img {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.edit {position: relative;}
.user-prof.edit:after {content: ''; background:url(../images/icons/edit_profile_image.png) left top no-repeat; height: 25px; width: 25px; position: absolute; left: -5px; bottom: -5px; z-index: 99; background-size: 20px; }
.user-prof .nav {width:30px; display: block; margin: .2em 0 0 1em; cursor: pointer;}
.user-prof .nav .line{background: #333F48; height: 5px; border-radius: 25px; margin: 5px 0; transition: .3s; }
.user-prof .nav:hover .line{width: 30px; background: #066CBD;}
.user-prof .nav .one {width:30px;}
.user-prof .nav .two {width:20px;}
.user-prof .nav .three {width:25px;}
.user-prof .dropdown-menu {background: url(../images/parallax/blue_ground.jpg) left top no-repeat; background-size: cover; margin-top: 12px; z-index: 99999999; padding-right: 15px; }
.user-prof .dropdown-menu a {color: #fff;}
.user-prof .dropdown-menu a:hover {color: #111;}
.user-prof .dropdown-menu h3 {color: #FFF; font-size: 1.3rem; padding: 0 0 0 20px; font-weight: 400; font-family:Magra-Regular ; }
.user-prof .dropdown-menu h3 span {font-size: 1rem; text-transform: none; width: 100%; display: block;}

/*-- Driver --*/
#driver-mb-menu {display: none;}
.current-booking-section {width: 100%; float: left; display: block; background: #e6e6e6;}
.cb-nav {float: right; border: none; margin: 0; padding: 0;display: inline-flex;}
.cb-nav .nav-item a.nav-link {color: #111;}
.cb-nav li .nav-link.active{color: #066CBD;}
.cb-nav li,.cb-nav li .active {border:none; }

.time-area {position: relative;}
.time-area .book-from,.time-area .book-upto {padding: 12px 0;}
.time-area .book-from span,.time-area .book-upto span {display: inline-block; width: auto;}
.time-area .book-from span.tm,.time-area .book-upto span.tm {width: 70px; float: left;}
.time-area .book-from .dot {height: 15px; margin:0 20px; width: 15px; background: #0f63ac; border-radius: 50%; position: relative; z-index: 0;}
.time-area .book-from .dot:after {content: ''; width: 2px; background: #999; z-index: -1; height: 40px; position: absolute; left: 7px; top: 15px;}
.time-area .book-upto .dot {height: 15px; margin:0 20px; width: 15px; background: #ff3d00; border-radius: 50%;  position: relative;}
.current-booking p span {margin-right: 35px;}
.current-booking .break-line {padding: 10px 20% 20px; border-bottom: 1px solid #cecece; font-family:'Magra-Regular'; }
.current-booking h3 {padding: 10px 0 20px; border-bottom: 1px solid #cecece; text-align: center;}
.current-booking h4 {padding: 10px 0 20px; border-bottom: 1px solid #cecece; text-align: center; font-family:'Magra-Regular'; }
.service-for {margin: 0 10% 20px; background: #fff; padding: 25px; border: 1px solid #066CBD; border-radius: 5px; text-align: center;}
.service-for h4 { font-family:'Magra-Regular';}
.service-for a {margin: 15px 0;}
.service-for .price {color:#066CBD; box-shadow: 1px 2px 4px #cecdcd; padding: 3px 10px;}
.price-zone {margin: 20px auto; display: block;}
.reject {background: #F00; color: #fff; padding: 5px 40px; font-size: 1.5rem;}
.reject:hover,.accept:hover{background: #333F48; color: #fff;}
.accept {background: #066CBD; color: #fff; padding: 5px 40px; font-size: 1.5rem;}
.time-area .book-upto .r-side {width: 70%;}
.repeat-box .book-upto .dot {margin-top: 9px; vertical-align: top;}


/*------current-booking-right-*/
.current-booking-head {background: #FFF; padding: 20px 0;}
.current-booking-right {padding:30px 20px; background: #fff; height: 100%;}
.current-booking-right h3 {margin-bottom: 20px;}
.current-booking-right h3:before,.current-booking-right h4.r-arrow:before  {content: ''; background: url(../images/icons/back_arrow.png) center top no-repeat; height: 40px; width: 60px; position: absolute; text-align: left; left: 0;}
.booking-box {margin-bottom: 40px; display: block; width: 100%; float: left;}
.booking-box .detials div {display: block; width: 100%; float: left;}
.booking-details .box {width: 100%; margin:0 0 20px; padding:0 0 20px; float: left; border-bottom: 1px solid #CCC;}
.booking-details .box.list-3 {display: flex; }
.booking-details .box.list-3 li {display: inline-block; margin-left: 30px; max-width: 33%; font-size: 1.5rem; vertical-align: text-top; color: #333F48;}
.booking-details .box.list-3 li:first-child {margin: 0; width:90px;}
.booking-details .box.list-4 {display: flex; }
.booking-details .box.list-4 li {display: inline-block; margin-left: 30px; max-width: 33%; font-size: 1.5rem; vertical-align: middle; color: #333F48;}
.booking-details .box.list-4 li:first-child {margin: 0; width: 100px;}
.booking-details h4{font-weight: 300;font-family:'Magra-Regular' ;}
.booking-details .box .time-area .book-upto .dot {float: left; margin-top: 8px;}
.booking-details .box .time-area .book-upto span:last-child {width: 350px;}
.bill-det h4{font-weight: 500;font-family:'Magra-Regular' ; text-align: center; margin: 0; padding: 0;}
.bill-det li {display: block; width: 100%; float: left; margin-bottom: 5px;}
.bill-det li span:first-child {float: left; width: 75%; margin: 0 0 0 10px;}
.bill-det li span:last-child {  margin: 0 0 0 10px; }
.bill-det li h5 {color:#066CBD; font-size: 1.75rem; border-top: 1px solid #ccc; padding-top:20px; margin-top: 20px; margin-bottom: 0; padding-bottom: 0; }
.job-status li {float: left; position: relative; width: 100%; margin-bottom: 15px; padding-left: 45px;}
.job-status li h5 {font-weight: 600; font-family:'Magra-Regular' ;}
.job-status li:before {content: ''; background:url(../images/icons/job_status.png) left top no-repeat; height: 30px; width: 30px; position: absolute; background-size: 100%; left: 0;}
/*-- Setting --*/
.setting-prof figure {height: 125px; width: 125px; margin: 0 auto; border-radius: 50%; position: relative; overflow: hidden;}
.setting-prof figure img {min-height: 125px;}
.setting-prof p{margin-bottom: 0;}
.setting-area {margin-top: 50px;}
.setting-area ul {margin: 0; padding: 0; list-style: none;}
.setting-area .card-header, .setting-area .card-header a {width: 100%; display: block;}
.setting-area .collapse,.setting-area .card-body,.setting-area .show, .setting-area #collapseOne {width: 100%; transition: all .5s;}
.setting-area .card,.help .card {margin-bottom: 20px;}
.setting-area li a:hover {background: #e6e6e6; color: #111;}
.card-link:after {content: "\f106"; font-family:"Font Awesome 5 Free"; position: absolute; right: 30px; width: 0;}
.collapsed:after {content: "\f107"; font-family:"Font Awesome 5 Free"; position: absolute; right: 30px; width: 0;}

/*------ user-history ------*/
.user-history {background: url(../images/parallax/history_image.jpg) top center no-repeat fixed; height:auto; width: 100%; background-size: cover; }
.history-title {position: relative;}
.history-title h3 {position: absolute; z-index: 9; color: #fff; left: 50%; top:150px; transform: translate(-50% , 0%); font-family:'Magra-Regular' }
.checked {color: #F60;}
.user-history .user-img {float: left; margin-right: 25px; height: 80px; width: 80px; border-radius: 50%; overflow: hidden;}
.user-history p {margin-bottom: 0;}
.current-booking-right { overflow-x: auto;  height: auto;}

/*--------*/
.history-list ul{ margin: 0; list-style: none; padding: 0;}
.history-list li {float: left; margin: 0 10; padding: 0 10px;}
.history-list li:first-child {width: 85px; margin-right: 10px;}
.history-list.list-4 li {width: 22%; vertical-align: middle}
.history-list.list-4 li img {max-height: 40px;}

/*-- Help --*/
.help .card-header,.help .card-header a {width: 100%; display: block;}
/*-- dryft-elite-box --*/
.dryft-elite-box { background-size: cover; padding: 40px 0; margin: 0 -14px 30px; }
.dryft-elite-box ul{margin: 0; padding: 0; list-style: none; text-align: center; width: 100%; }
.dryft-elite-box li { width: 33%; float: left; text-align: center; margin-bottom: 20px; position: relative;}
.dryft-elite-box li:nth-child(4){margin-left: 15%;}
.dryft-elite-box li:before {content: ''; background: url(../images/icons/tracking_check.png) left top no-repeat; background-size: 100%; position: absolute; right: 20px; top: 90px; height: 25px; width: 25px; border: 1px solid #fff; border-radius: 50%;}

/*--  --*/
.repeat-box {width: 100%; margin: 0 0 20px; padding:0 0 20px; float: left; border-bottom: 1px solid #CCC; display: block;color: var(--Header-Grey-Color); position: relative;}
.repeat-box p span{float: right;}
.repeat-box .checkbox-switch {margin: 0 15px; vertical-align: middle;}
.checkbox-switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.checkbox-switch input {display:none;}
.checkbox-slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.checkbox-slider:before { position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.checkbox-switch input:checked + .checkbox-slider {background-color: #2196F3;}
.checkbox-switch input:focus + .checkbox-slider { box-shadow: 0 0 1px #2196F3;}
.checkbox-switch input:checked + .checkbox-slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);
}


/* Rounded sliders */
.checkbox-slider.round { border-radius: 34px;}
.checkbox-slider.round:before {border-radius: 50%;}

.ck-button {margin:4px; border-radius:4px; }
.ck-button li {width: 100%; margin: 0 auto; float: left; display: block;}
.ck-button label { float:left; width: auto; margin: 0 0 10px; cursor: pointer; display: block; }
.ck-button label span { text-align:center; padding:12px 30px; display:block; border-radius:5px; border:1px solid var(--Dryft-Blue-Color);}
.ck-button label input { position:absolute; opacity: 0; }
.ck-button input:hover + span { background-color:#066CBD; color:#fff;}
.ck-button input:checked + span { background-color:var(--Dryft-Blue-Color);  color:#fff;}
.ck-button input:checked:hover + span { background-color:#066CBD; color:#fff;}

/*----- round-box -----*/
.round-box {padding: 20px; border-radius: 5px; border: 1px solid var(--Dryft-Blue-Color); width: 100%; float: left; display: block; text-align: center; margin-bottom: 20px;}
.round-box h4,.round-box h5 {font-family:var(--Magra-regular); font-weight: 400;  margin-bottom: 1em;}
.round-box h5, .round-box .one_half .price,.center-P-box .price{color:var(--Dryft-Blue-Color);}
.round-box .one_half {width: 50%; /* fallback if needed */ width: calc(50% - 2%); margin: 0 1%; padding:15px; float: left; border: 2px solid #e9e9e9; border-radius: 5px;  }
.round-box .one_half .price span, .center-P-box .price span{display: block; font-size: 1.5rem; color:var(--Header-Grey-Color); margin-top: .5em; }
.botm-content {margin-top: 20px; float: left; display: block; text-align: center; width: 100%;}
.round-box .center-P-box {width: 50%; margin: 0 auto; padding: 15px; border: 2px solid #e9e9e9; border-radius: 5px;}
/*---payment--*/
.payment h3 {padding-bottom: 20px; border-bottom: 1px solid #ccc;}
/*----------------*/
/* Hide the browser's default radio button */
.custom-radio-box  {width: 100%; cursor: pointer;}
.custom-radio-box input {position: absolute;cursor: pointer;opacity: 0;}
/* Create a custom radio button */
.custom-radio { display: block;position: absolute; cursor: pointer; top: 0;   right: 0;   height: 25px;   width: 25px;   border: 1px solid var(--Header-Grey-Color);   border-radius: 50%;}
/* On mouse-over, add a grey background color */
.custom-radio-box:hover input ~ .custom-radio { background-color: #ccc; cursor: pointer; }
/* When the radio button is checked, add a blue background */
.custom-radio-box input:checked ~ .custom-radio { background-color: #FFF;}
/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio:after {content: ""; position: absolute; display: none;  cursor: pointer; }
/* Show the indicator (dot/circle) when checked */
.custom-radio-box input:checked ~ .custom-radio:after { display: block;}
/* Style the indicator (dot/circle) */
.custom-radio-box .custom-radio:after {top: 4px;left: 4px;width: 15px;height: 15px;border-radius: 50%; background: var(--Dryft-Blue-Color);}

/*---  payment-successful ---*/
.payment-successful  {background: url(../images/parallax/banner_2.jpg) top center no-repeat; background-size:cover; padding: 100px 0;}
.payment-successful h4, .receipt h5 {color: #fff; margin-bottom: 20px;}
.payment-successful p {padding: 0 10%; color: #fff; }
.receipt {text-align: center; width: 100%; margin: 30px auto; display: block; padding: 0 100px;}
.receipt ul {list-style: none; margin: 0 auto 0 25px; padding: 0; text-align: center;  }
.receipt li {padding: 20px; margin: 0 10px 10px; border:1px solid #fff; border-radius: 50%; float: left; height: 70px; width: 70px; vertical-align: middle; text-align: center; }
.receipt  p {margin-top: 10px;}
.receipt a {color: #fff;}
/*-- Tracking Process --*/
.tracking-line {margin: 30px 0 0 0;padding: 0;list-style: none;position: relative; color: #222;} 
/* The line */
.tracking-line:before {content: '';	position: absolute;	top: 0;	bottom: 0;	width: 10px;	background: #afdcf8;	left: 20%;	margin-left: -10px;}
/* The date/time */
.tracking-line > li {position: relative;}
.tracking-line > li .cbp_tmtime {display: block;width: 25%;	padding-right: 100px;position: absolute;}
.tracking-line > li .cbp_tmtime span {display: block;text-align: right;}
.tracking-line > li .cbp_tmtime span:first-child {font-size: 0.9em;color: #bdd0db;}
.tracking-line > li .cbp_tmtime span:last-child {font-size: 1.2em;color: #3594cb;}
.tracking-line > li:nth-child(odd) .cbp_tmtime span:last-child {color: #6cbfee; font-size: 1.2rem;}
/* Right content */
.tracking-line > li .cbp_tmlabel {margin: 0 0 15px 25%;color: var(--Light-Grey-Color);padding:0 0 1em;font-size: 1.2em;font-weight: 300;line-height: 1.4;position: relative;border-radius: 5px;}
.tracking-line > li .cbp_tmlabel p{display: block; clear: both;}
.tracking-line > li .cbp_tmlabel p svg,.tracking-line > li .cbp_tmlabel p img {font-size: 1rem;}
.tracking-line > li .cbp_tmlabel h2 {margin-top: 0px;padding: 0 0 10px 0;border-bottom: 1px solid rgba(255,255,255,0.4); color: #000; font-size: 1.2rem; font-family: var(--Magra-regular);}
/* The icons */
.tracking-line > li .tracking-icons {width: 20px;height: 20px;font-family: 'ecoico';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;font-size: 1.4em;line-height: 40px;-webkit-font-smoothing: antialiased;position: absolute;color: #fff;background: #FF0000;border-radius: 50%;box-shadow: 0 0 0 8px #afdcf8;text-align: center;left: 22%;top: 0;margin: 0 0 0 -25px;}
.tracking-line > li .tracking-icons.active {background: var(--Green-Check-Color);}
.track-profimg {float: left; width: 75px; height: 75px; border-radius: 50%; overflow: hidden; display: inline-block; margin-right: 20px;} 
.top-trac-sec:before {content: '';background: url(../images/parallax/driver_detail_header.jpg) left top no-repeat;min-height: 220px;width: 100%;left: 0;top: 0;z-index: 0;position: absolute;}
.top-trac-sec {margin-bottom: 100px;}
.top-trac-sec h3{color: #fff;z-index: 999; position: relative; font-family: var(--Magra-regular);}
.top-trac-sec h4,.top-trac-sec {color: #fff; font-family: var(--Magra-regular);}

/*-- service-booked -----*/
.service-booked {position: relative; height:100vh; min-height: 500px;}
.service-booked iframe {position:static; z-index: 9; height:100%;}
.service-booked .content {width: 30%; right: 5%; top: 50px; position: absolute; z-index: 99; }
.service-booked .content li {background: #fff; padding:10px; width: 100%; float: left; display: block; margin-bottom: 15px; border-radius: 10px;}
.service-booked .content li span {float: right;}
.service-booked .content li img {max-height: 30px;}
.service-booked .content li figure {float: left; width: 50px; margin: 0; padding: 0;}

/*-- Service Booked Driver --*/

.service-booked .booked-driver{padding: 45px 30px 50px; margin: 50px 30px 30px; background: #fff; position: absolute; z-index: 999;bottom: 10%; right: 5%;	width: 25%; border-radius: 10px; }
.service-booked .booked-driver:before {content: '';position: absolute; height: 70px; width:30px; left: -30px; background: var(--Dryft-Blue-Color); bottom: 10%; z-index: 1;border-radius: 10px 0 0 10px;}
.service-booked .booked-driver:after {content: '';position: absolute; height: 70px; width:30px; right: -30px; background: var(--Header-Grey-Color); bottom: 10%; z-index: 1;border-radius: 0 10px 10px 0;}
.service-booked .star-box {margin: 0 0 20px 0;}
.booked-driver .pic{ width: 100px; height: 100px; border-radius: 50%; border: 5px solid #FFF; overflow: hidden; margin: 0 auto; position: absolute; top: -50px; left: 0; right: 0;}
.booked-driver .pic img{width: 100%; height: auto;}
.booked-driver .description{font-size: 15px; color: #5e595b;  line-height: 27px;  text-align: center; padding: 0 0 20px; position: relative; z-index: 999; }
.booked-driver .description h3 {width:48%; float: left; text-align: center; font-family: var(--Magra-regular); font-size: 1.5rem; }
.booked-driver .description h3 span {width: 100%; display: block; font-size: 1.2rem;}
.booked-driver .footer {background: var(--Dryft-Blue-Color); position: absolute; bottom: 0; left: 0; width: 100%; display: block; text-align: center; padding: 10px; border-radius:0 0 10px 10px; }
.booked-driver .footer a {color: #fff;}
.booked-driver .footer button {width: 50%; padding: 20px; text-align: center; float: left; background: none; border:none; color: #fff; cursor: pointer;}
.booked-driver .footer button:first-child{border-right:1px solid #CCC;}
.booked-driver textarea.form-control { margin-bottom: 60px;}
div.stars {display: inline-block;}
input.star { display: none; }
label.star {float: right; padding: 10px 5px; font-size: 16px; color: #444; transition: all .2s;}
input.star:checked ~ label.star:before { content: '\f005'; color: #FD4; transition: all .25s;font-family: 'Font Awesome 5 Free';}
input.star-5:checked ~ label.star:before { color: #FE7; text-shadow: 0 0 20px #952;}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before { content: '\f005'; font-family: 'Font Awesome 5 Free';}

/*------- Date Picker -----------*/
.selectdatetime {padding:40px 20px; background: var(--Dryft-Blue-Color); margin-bottom: 30px; border-radius: 10px;}
.cursorily{ cursor: pointer;}
.hov:hover{ color: #000;}
.ico-size{font-size: 16px;}
.ico-size-month{font-size: 26px!important; line-height: 26px!important;}
.ico-size-large{ font-size: 40px!important; line-height: 30px;}
.dtp_main{ border: solid 1px #eee; border-radius: 3px; background-color: #fff; padding: 8px 0 8px 8px;}
.dtp_main span, .dtp_main i{ display: inline-block; padding-right: 8px;}
.dtp_modal-win{position: fixed;left: 0; top: 0; width: 100%; height: 100%;
z-index: 999; background-color: #eeeeee; opacity: 0.6;}
.dtp_modal-content{ background-color: #fff; border-radius: 10px; width: 48%;position: absolute; z-index: 99999999999; top: 40% !important; left:100px !important; font-size: 16px;font-weight: normal;}
.dtp_modal-content-no-time{ background-color: #fff; border-radius: 10px; width: 312px;
position: absolute; z-index: 1000; top: 100px; left: 100px; font-size: 16px;font-weight: normal;}
.dtp_modal-title{ border-bottom: solid 3px #01adff; padding: 16px 36px; margin-bottom: 16px;  font-size: 22px; }
.dtp_modal-cell-date{ width: 312px;  float: right; margin-bottom: 22px; margin-top: 6px;}
.dtp_modal-cell-time{width: 311px; float: left; direction: ltr; border-right: solid 1px #000;}
.dtp_modal-months{ color: #7d7d7d; text-align: center; font-size: 20px; padding: 0 20px;}
.dtp_modal-months span{ display: inline-block; padding: 10px 20px; width: 182px;}
.dtp_modal-calendar{ width: 266px; margin-left: 22px; }
.dtp_modal-calendar-cell{ width: 38px; padding: 7px 0; display: inline-block; text-align: center;}
.dtp_modal-colored{ color: #01adff; }
.dtp_modal-grey{ color: #7d7d7d; }
.dtp_modal-cell-selected{ background-color: #01adff; color: #fff; border-radius: 48%;  transition: background-color 1s ease-out;}
.dtp_modal-time-block{ height: 212px; width: 310px; }
.dpt_modal-button{ background-color: #01adff; color: #fff; font-size: 24px; padding: 8px 40px; max-width: 60%;
text-align: center; display: block; margin: 22px auto; cursor: pointer; border: solid 1px #fff;
border-radius: 3px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.dtp_modal-time-line{ text-align: center; color: #7d7d7d; font-size: 20px; padding-top: 15px;  }
.dtp_modal-time-mechanic{ padding-top: 16px;}
.dtp_modal-append{ color: #7d7d7d; padding-left: 108px; font-weight: normal; }
.dtp_modal-midle{ display: inline-block; width: 40px; }
.dtp_modal-midle-dig{display: inline-block; width: 16px; text-align: center; }
.dtp_modal-digits{ font-size: 50px; padding-left: 96px;}
/*-- promo-code --*/
.promo-code {position: relative;}
.promo-code input {width: 80%; padding:5px; border-radius: 5px; border: 1px solid var(--Dryft-Blue-Color); outline: none;}
.promo-code button {width: 20%; padding: 5px; border: 1px solid var(--Dryft-Blue-Color); outline: none; background: var(--Dryft-Blue-Color); color: #fff; margin-left: -20px; border-radius:0 5px 5px 0; cursor: pointer;}







/*media*/
@media (min-width:1367px) and (max-width:1534px){ 
.service-booked .content, .service-booked .booked-driver {width: 40%;}
}
@media (max-width:1366px){ 
.service-booked .content {width: 40%;}
.service-booked .booked-driver{width: 35%;}
}

@media (max-width:1199px){
.about-content {max-width: 450px;}
.caption-box {margin: 0% 0 0 -20%;position: absolute;top: 30%;left: 40%;z-index: 9;width: 60%;}
.caption-box button {margin-top: 40px;}
.desktop-menu li a {padding: 15px 25px;}
.second-section .box {-webkit-flex-flow: row wrap;}
.service-booked .content, .service-booked .booked-driver {width: 40%;}
.round-box .center-P-box {width: 75%;}
.dtp_modal-cell-time {width: 35%;float: left;direction: ltr;border-right: none;}
.dtp_modal-content {width: 60%; left: 20px !important;}
.second-section .box li:after {right: 15%; top: 80px;}
ul.weathday-list li { margin-right: 4px;}
.dryft-elite-box li {min-height: 220px;}
.round-box .one_half .price span, .center-P-box .price span {font-size: .8rem;}
.price {font-size: 1rem;}
.current-booking-right h3 {font-size: 2rem;}
.receipt {padding: 10px;}
.history-title h3{width: 90%;}
.time-area .book-from .dot:after {display: none;}
footer li {font-size: .9rem;}
}


@media (max-width:991px){
.desktop-menu {display: none;}
.sidenav-trigger {display: block;}
#toggle, #mb-toggle {width: 30px;margin: 0 0 0 auto;}
#toggle span, #mb-toggle span {display: block;height: 2px;width: 30px;background: #fff;margin: 5px 0; position: relative;transition: 0.3s ease;}
.menu-area {padding:22px 0px; position: relative;}
.sidenav.slide-left {left: 0;}
.menu-item-has-children:after {color: #231f20;top: 10px;right: 10px;}
.sub-menu {position: static; padding-top: 0; width: 100%;}
.caption-box {margin: 0% 0 0 -20%;position: absolute;top: 20%;left: 40%;z-index: 9;width: 60%;}
.caption-box button {margin-top: 20px;}
.plan-box h3 {font-size: 1.2rem;}
.plan-box h3 img {max-height: 45px;}
.plan-box .btn {font-size: 1.2rem;}
.round-box .center-P-box {width: 95%; font-size: 2rem;}	
.price {font-size: 2rem;}
.dtp_modal-cell-date {width: 65%;}
.dtp_modal-cell-time {width: 35%;}
.dtp_modal-append,.dtp_modal-digits {padding-left: 30px;}
.service-booked .content, .service-booked .booked-driver {width: 50%;}
.dtp_modal-time-line {text-align: left; padding-left: 20px;}
.second-section .box li:after {right: 6%; top: 80px;}
ul.weathday-list li {float: left; margin-right: 8px; padding-top: 6px; font-size: 1rem;}
.repeat-box .checkbox-switch {margin: 0 5px;}
.current-booking-right h3 {font-size: 2rem;}
.receipt {padding: 10px 30px;}
.history-title h3{width: 90%;}
	footer h3 {font-size: 2rem;}

}


@media (max-width:767px){
	footer h3 {font-size: 1.7rem;}
.desktop-hide {display: block;}
.desktop-menu {display: none;}
.sidenav-trigger {display: block;}
#toggle, #mb-toggle {width: 30px; margin: 0 15px 0 auto; position: absolute;right: 0; top: 15px; }
#toggle span, #mb-toggle span {display: block;height: 2px;width: 30px;background: #fff;margin: 5px 0; position: relative;transition: 0.3s ease;}
.menu-area {padding:10px 0px;  height: 60px; position: relative;}
	.menu-area img {height: 100%; padding-left: 10px;}
.sidenav.slide-left {left: 0;}
.menu-item-has-children:after {color: #231f20;top: 10px;right: 10px;}
.sub-menu {position: static; padding-top: 0; width: 100%;}
.caption-box {margin: 0% 0 0 -20%;position: absolute;top: 10%;left: 40%;z-index: 9;width: 60%;}
.caption-box button {margin-top: 10px;}
.elite_secnd {max-height: 60px;}
h2 {font-size: 2rem;}
.testimonials h3 {font-size: 1.5rem;}
.cb-nav {display: none; margin: 0; position: absolute; background: #fff; padding:20px; z-index: 9999; right: 0; text-align: right; float: right;}
#driver-mb-menu {display: block; text-align: right;}
.history-title h3 {
position: absolute; z-index: 9; color: #fff; top: 37px;  /* transform: translate(-13% , 0); */ font-family: 'Magra-Regular';  width: 100%; font-size: 1.2rem; text-align: center;}
.history-title {height: 100px; }
.service-booked .content, .service-booked .booked-driver {width: 60%;}
.second-section .box li {width: 33.33%; margin-bottom: 20px; min-height: 200px;}
ul.weathday-list li {float: left; margin-right: 2px; padding-top: 6px; font-size: .7rem;}
.login-area li {font-size: 1rem;}
.login-box, .signup-box {top: 30px;}
.service-booked {height: 800px;}
.copyright {font-size: 1rem; text-align: center;}
.ft-social ul {margin:15px auto; padding: 0; width: 100%; max-width: 90px; display: block; text-align: center;}
footer h3 {margin: 20px 0;}
.ft-social li { float: right;}
.sidenav-trigger.active {padding:10px 0; }
.elite-yellow a{position: relative; padding: 10px 10px !important;}
.mb-hidden {display: none;}
.botm-content {margin-bottom: 50px;}
.user-history,.current-booking-right {height: auto;}
}

@media (max-width:574px){
.desktop-hide {display: block;}
.caption-box input[type="search"] {padding: 5px 12px;}
ul.weathday-list li {float: left;margin-right: 6px;font-size: 14px;}
.caption-box {margin: 0; position: absolute; top: 45%; left: 40%; z-index: 9; width: 90%;transform: translate(-40%, -45%);}
.caption-box button {margin-top: 10px;}
.btn-theme {font-size: 1.2rem;}
.login-area li {font-size: 1rem;}
.signup-box,.login-box {width: 100%;}
.service-booked .content {width: 90%;}
.service-booked .booked-driver {width: 75%;}
.mid-head .logo {max-height: 100px; margin-bottom: 10px; text-align: center; display: block;}
.mid-head { padding-bottom: 5px; }	
/*-- Date Picker --*/
.dtp_modal-cell-date {width: 100%;float: right; margin-top: 6px; text-align: center;}
.dtp_modal-content { background-color: #fff; border-radius: 10px; width: 95%; position: absolute; z-index: 99999999999; top: 40% !important; left: 11px !important; font-size: 16px; font-weight: normal;}
.dtp_modal-cell-time {width: 100%;float: left;direction: ltr;border-right: none;}
.dtp_modal-time-block {height: 212px;width: 100%;}
.dpt_modal-button {width: 89%;}
.download-box h2 {font-size: 2rem;}
.setting-prof { text-align: center;}
	footer li,footer h3,.ft-right {text-align: center;}
}

@media (max-width:460px){
h3 {font-size: 1.5rem;}
ul.weathday-list li { float: left;margin-right:4px;font-size: 12px;}
.second-section .box li {width: 100%; margin-bottom: 30px;}
.second-section .box li:after {right:32%;}
}

@media (max-width:400px){
ul.weathday-list li {float: left; margin-right: 2px; font-size: 12px;}
}

@media (max-width:359px){
#mobile-demo{ width: 250px;}
ul.weathday-list li {float: left; margin-right: 1px; font-size: 11px;}
}

@media screen and (max-width: 65.375em) {.tracking-line > li .cbp_tmtime span:last-child {font-size: 1em;}}
@media screen and (max-width: 47.2em) {	.tracking-line:before {display: none;}
.tracking-line > li .cbp_tmtime {width: 100%;position: relative;padding: 0 0 20px 0;}
.tracking-line > li .cbp_tmtime span {text-align: left;	}
.tracking-line > li .cbp_tmlabel {margin: 0 0 30px 0;padding: 1em;font-weight: 400;font-size: 95%;}
.tracking-line > li .cbp_tmlabel:after {right: auto;left: 20px;border-right-color: transparent;	border-bottom-color: #3594cb;top: -20px;}
.tracking-line > li:nth-child(odd) .cbp_tmlabel:after {border-right-color: transparent;border-bottom-color: #6cbfee;}
.tracking-line > li .tracking-icons {position: relative;	float: right;left: auto;margin: -55px 5px 0 0px;}	
}













